<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

    <!--Stylesheet-->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <!--Favicon-->
    <link rel="icon" href="{{ site.baseurl }}/assets/image/favicon.ico">

    <!--JavaScript-->
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>

    <!--plugins-->
    {% feed_meta %}
    {% seo %}
</head>
<body>
    <div class="container">
        <header>
            <img src="{{ site.baseurl }}/assets/image/foto yumna.jpeg" alt="Profile Picture"
class="profile-picture">
            <h1>{{ site.title }}</h1>
            <p>{{ site.description }}</p>
        </header>

        <nav>
            {% include navigation.html %}
        </nav>

        <main>
            {{ content }}
        </main>

        <footer>
            <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
        </footer>
    </div>
</body>
